In [29]:
# req: pymupdf, gostscript (downloaded by installer file),camelot,pandas

In [9]:
import fitz
print(fitz.__doc__)
import pandas
doc = fitz.open('python_data/keppel.pdf')
page = doc[68]
pix = page.get_pixmap()
pix.save("page-%i.png" % page.number)

PyMuPDF 1.19.6: Python bindings for the MuPDF 1.19.0 library.
Version date: 2022-03-03 00:00:01.
Built for Python 3.10 on win32 (64-bit).

In [10]:
import fitz
print(fitz.__doc__)
import pandas
doc = fitz.open('python_data/keppel.pdf')


doc2 = fitz.open()                 # new empty PDF
doc2.insert_pdf(doc, from_page = 68,to_page = 68 ) # last 10 pages
doc2.save("page68.pdf")

PyMuPDF 1.19.6: Python bindings for the MuPDF 1.19.0 library.
Version date: 2022-03-03 00:00:01.
Built for Python 3.10 on win32 (64-bit).

PyMuPDF 1.19.6: Python bindings for the MuPDF 1.19.0 library.
Version date: 2022-03-03 00:00:01.
Built for Python 3.10 on win32 (64-bit).

In [6]:
type(doc),type(page)

(fitz.fitz.Document, fitz.fitz.Page)

In [1]:
import camelot

In [8]:
tables = camelot.read_pdf('page68.pdf', flavor='stream', edge_tol=500)

In [9]:
tables.export('page68.csv', f='csv', compress=True) # json, excel, html, markdown, sqlite

In [10]:
tables[0]

In [11]:
tables[0].parsing_report

{'accuracy': 98.97, 'whitespace': 13.27, 'order': 1, 'page': 1}

In [12]:
tables

In [18]:
tables[0].df

,0,1,2,3,4,5,6
0,Board and Committee Meetings and Attendance,,,,,,
1,,,,,Board Committee Meetings,,
2,,Board Meetings,Audit,Nomination,Remuneration,Safety,Risk
3,Lee Boon Yang,11,–,3,4,4,–
4,Loh Chin Hua,11,–,–,–,4,–
5,Tow Heng Tan,8,–,3,2,–,4
6,Alvin Yeo Khirn Hai,9,5,1,–,–,–
7,Tan Ek Kia,9,5,–,–,4,4
8,Danny Teoh,10,5,–,4,–,4
9,Tan Puay Chiang1,10,–,3,–,4,4
10,Till Vestring,11,–,3,4,–,–
11,Veronica Eng,11,5,–,–,–,4
12,Jean-François Manzoni2,3 out of 3,–,–,–,–,–
13,No. of Meetings Held,11,5,3,4,4,4

In [28]:
tables[0].df.replace("–","-").to_csv("assignment_2.csv", index = None, encoding='utf-8')

In [27]:
tables[0].df.replace("",0)

,0,1,2,3,4,5,6
0,Board and Committee Meetings and Attendance,,,,,,
1,,,,,Board Committee Meetings,,
2,,Board Meetings,Audit,Nomination,Remuneration,Safety,Risk
3,Lee Boon Yang,11,0,3,4,4,0
4,Loh Chin Hua,11,0,0,0,4,0
5,Tow Heng Tan,8,0,3,2,0,4
6,Alvin Yeo Khirn Hai,9,5,1,0,0,0
7,Tan Ek Kia,9,5,0,0,4,4
8,Danny Teoh,10,5,0,4,0,4
9,Tan Puay Chiang1,10,0,3,0,4,4
10,Till Vestring,11,0,3,4,0,0
11,Veronica Eng,11,5,0,0,0,4
12,Jean-François Manzoni2,3 out of 3,0,0,0,0,0
13,No. of Meetings Held,11,5,3,4,4,4